---
title: ICAPS 2022 Schedule
permalink: schedule
layout: page
---
<div class="container">
  <div class="row">
    <div class="12u 12u(mobile)">
      <!-- <section id="schedule-pdf">
        <header>
          <h1>ICAPS-2022 Schedule (PDF Format)</h1>
        </header>
	The following schedule is available in a <a href="/images//icaps17book.pdf">PDF format</a>.
      </section> -->

      <section id="schedule">
        <header>
          <h1>ICAPS-2022 Schedule Overview</h1>
        </header>

        <div id="overview"></div>
        <!--
          <h3>Sunday (June 18, 2017)</h3>
          <table class="schedule-overview">
          <tr><td>All Day</td><td><a href="/doctoral-consortium">Doctoral Consortium</a></td></tr>
          </table>
        -->

        <table class="schedule-overview">
          <tr><td>6</td><td colspan="2">Opening</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td>7</td><td colspan="2">Invited Talk: Malte Helmert</td><td><a href="#9a">Search</a></td><td><a href="#9b">Multi-Agent Planning</a></td><td><a href="#18a">Classical Planning</a></td><td><a href="#18b">Robotics</a></td><td colspan="2">Invited Talk: Tim Miller</td></tr>
          <tr><td>8</td><td colspan="2">Social: Get Together</td><td colspan="2">Social: Diversity Follow Up</td><td colspan="2">Social: Games</td><td colspan="2">Social: Open Discussion</td></tr>
          <tr><td>9</td><td><a href="#1a">Planning Representations and Scheduling</a></td><td><a href="#1b">Verification</a></td><td><a href="#10a">Goal and Plan Recognition</a></td><td><a href="#10b">Scheduling Applications</a></td><td><a href="#19a">Expressivity and Complexity</a></td><td><a href="#19b">Path Finding</a></td><td><a href="#27a">Reformulation</a></td><td><a href="#27b">Probabilistic Planning</a></td></tr>
          <tr><td>10</td><td><a href="#2a">Reinforcement Learning</a></td><td><a href="#2b">Heuristics in Classical Planning</a></td><td><a href="#11a">Heuristics in Classical and Multi-Objective Planning</a></td><td><a href="#11b">Applications</a></td><td><a href="#20a">Explainable Planning and Scheduling</a></td><td><a href="#20b">Heuristics and Heuristic Search</a></td><td><a href="#28a">Model-Based Reasoning in Classical Planning</a></td><td><a href="#28b">Temporal Planning</a></td></tr>
          <tr><td>11</td><td colspan="2">Poster and Demo Session</td><td colspan="2">Competition Panel</td><td colspan="2">Poster and Demo Session</td><td colspan="2">Poster and Demo Session</td></tr>
          <tr><td>12</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td>13</td><td><a href="#3a">Model-Based Reasoning in Classical Planning</a></td><td><a href="#3b">Learning in Scheduling Applications</a></td><td><a href="#12a">Numeric Planning</a></td><td><a href="#12b">Deep Learning</a></td><td colspan="2">Industry Panel</td><td><a href="#29a">Multi-Agent and Tree Search</a></td><td><a href="#29b">Motion Planning and Deep RL</a></td></tr>
          <tr><td>14</td><td><a href="#4a">Search</a></td><td><a href="#4b">Optimal Planning</a></td><td><a href="#13a">Epistemic Planning</a></td><td><a href="#13b">Heuristics in Classical Planning</a></td><td><a href="#21a">Applications</a></td><td><a href="#21b">Temporal Planning and Reinforcement Learning</a></td><td colspan="2">Community Meeting</td></tr>
          <tr><td>15</td><td colspan="2">Diversity</td><td colspan="2">Social: Pseudonym Get Together</td><td colspan="2">Social: Pub Quiz</td><td></td></tr>
          <tr><td>16</td><td><a href="#5a">Problem Reformulation</a></td><td><a href="#5b">Heuristics and Heuristic Search</a></td><td colspan="2">Invited Talk: Emma Brunskill</td><td><a href="#22a">Reinforcement Learning</a></td><td><a href="#22b">Robotics</a></td><td><a href="#30a">Scheduling</a></td><td><a href="#30b">Heuristics in Classical Planning</a></td></tr>
          <tr><td>17</td><td><a href="#6a">Multi-Agent Path Finding</a></td><td><a href="#6b">Deep Learning</a></td><td><a href="#14a">Search</a></td><td><a href="#14b">Verification</a></td><td><a href="#23a">Abstraction Heuristics</a></td><td><a href="#23b">Reinforcement Learning</a></td><td><a href="#31a">User Interfaces for Explainable Planning</a></td><td><a href="#31b">Scheduling</a></td></tr>
          <tr><td>18</td><td colspan="2">Poster and Demo Session</td><td colspan="2">Poster and Demo Session</td><td colspan="2">Invited Talk: Sidd Srinivasa</td><td></td></tr>
          <tr><td>19</td><td></td><td></td><td></td><td></td><td></td><td></td><td colspan="2">Closing and Final Get Together</td></tr>
          <tr><td>20</td><td><a href="#7a">Probabilistic Planning</a></td><td><a href="#7b">Multi-Agent Planning and Scheduling</a></td><td><a href="#15a">Planning Decompositions and Learning</a></td><td><a href="#15b">Explainable Planning and Scheduling</a></td><td><a href="#24a">Reinforcement Learning in Applications</a></td><td><a href="#24b">User Interactions and Top-Quality Planning</a></td><td></td><td></td></tr>
          <tr><td>21</td><td colspan="2">Social: Speed Dating</td><td colspan="2">Social: Pseudonym Get Together</td><td colspan="2">Social: Open Discussion</td><td></td><td></td></tr>
          <tr><td>22</td><td><a href="#8a">Hierarchical Task Networks</a></td><td><a href="#8b">Rewards in Reinforcement Learning</a></td><td><a href="#16a">Multi-Agent Planning</a></td><td><a href="#16b">Reinforcement Learning</a></td><td><a href="#25a">Heuristic Search</a></td><td><a href="#25b">Epistemic Planning</a></td><td></td><td></td></tr>
          <tr><td>23</td><td colspan="2">Invited Talk: Sven Koenig</td><td><a href="#17a">Applications</a></td><td><a href="#17b">Path and Motion Planning</a></td><td><a href="#26a">Heuristics</a></td><td><a href="#26b">Scheduling</a></td><td></td><td></td></tr>
          <tr><td>24</td><td colspan="2">Social: Games</td><td colspan="2">Poster and Demo Session</td><td colspan="2">Poster and Demo Session</td><td></td><td></td></tr>
          </table>



        {% assign day = 0 %}
        {% assign started = false %}
        {% for row in site.data.icaps_schedule_details %}
          {% if row.Day != day %}
            {% assign day = row.Day %}
            {% if started %}
              </table>
            {% endif %}
            {% assign started = true %}
            <h3><a class="schedule-date" href="#{{row.Weekday | slugify}}">{{row.Weekday}}</a></h3>
            <table class="schedule-overview">
          {% endif %}
          {% if row.Type == "Joint" %}
            <tr>
              <td>{{row.Time}}:00 UTC</td>
              <td colspan="2">{% if row.Session1 contains 'Invited Talk' %}<a href="/#{{row.Session2}}">{% endif %}{{row.Session1}}{% if row.Session1 contains 'Invited Talk' %}</a>{% endif %}</td>
            </tr>
          {% elsif row.Type == "Single" %}
            <tr>
              <td>{{row.Time}}:00 UTC</td>
              <td><a href="#{{row.Session1 | slugify}}">{{row.Session1_title}}</a></td>
              <td><a href="#{{row.Session2 | slugify}}">{{row.Session2_title}}</a></td>
            </tr>
          {% endif %}

        {% endfor %}
        </table>

        <br/>
        <div id="detailed"></div>

        <h1>Detailed Schedule</h1>
        {% assign day = 0 %}
        {% assign started = false %}
        {% for row in site.data.icaps_schedule_details %}
        {% if row.Day != day %}
          {% assign day = row.Day %}
          {% if started %}</table>{% endif %}
          {% assign started = true %}
          <h3 class="schedule-date" id="{{row.Weekday | slugify}}">{{row.Weekday}}</h3>
          <table class="schedule">
        {% endif %}
        {% if row.Type == "Joint" %}
          {% if row.Session1 contains 'Opening' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="opening-remarks">{{row.Session1}}</td></tr>
          {% elsif row.Session1 contains 'Invited Talk' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="invited-talk"><a href="/#{{row.Session2}}">{{row.Session1}}</a></td></tr>
          {% elsif row.Session1 contains 'Social' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="misc">{{row.Session1}}</td></tr>
          {% elsif row.Session1 contains 'Diversity' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="misc">{{row.Session1}}</td></tr>
          {% elsif row.Session1 contains 'Panel' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="invited-talk">{{row.Session1}}</td></tr>
          {% elsif row.Session1 contains 'Poster' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="posters">{{row.Session1}}</td></tr>
          {% else %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="misc">{{row.Session1}}</td></tr>
          {% endif %}
        {% elsif row.Type == "Single" %}
        <tr>
            <td class="time">{{row.Time}}:00 UTC</td>
            <td id="{{row.Session1 | slugify}}" class="session-title session-talk1">({{row.Session1}}) {{row.Session1_title}}</td>
            <td id="{{row.Session2 | slugify}}" class="session-title session-talk2">({{row.Session2}}) {{row.Session2_title}}</td>
          </tr>
          {% assign session11 = (site.data.paper_details | where:"Session1",row.Session1) %}
          {% assign session12 = (site.data.paper_details | where:"Session2",row.Session1) %}
          {% assign session21 = (site.data.paper_details | where:"Session1",row.Session2) %}
          {% assign session22 = (site.data.paper_details | where:"Session2",row.Session2) %}
          {% assign session1 = session11 | concat:session12 %}
          {% assign session2 = session21 | concat:session22 %}
          {% for index in (0..10) %}
          {% assign paper1 = session1[index] %}
          {% assign paper2 = session2[index] %}
          {% if paper1 == nil and paper2 == nil %}
          {% break %}
          {% endif %}
          <tr>
              <td class="notime"></td>
              <td class="session-talk1">
                  {% if paper1 != nil %}
                  <span class="paper-title">{{paper1.Title}}
                      (<span class="paper-type">{{paper1.Track}}</span>)</span><br/>
                  <span class="paper-author">{{paper1.Authors}}</span>
                  {% endif %}
              </td>
              <td class="session-talk2">
                  {% if paper2 != nil %}
                  <span class="paper-title">{{paper2.Title}}
                      (<span class="paper-type">{{paper2.Track}}</span>)</span><br/>
                  <span class="paper-author">{{paper2.Authors}}</span>
                  {% endif %}
              </td>
          </tr>
          {% endfor %}
        {% endif %}
        {% endfor %}
        </table>


      </section>

    </div>
  </div>
</div>
