---
title: ICAPS 2022 Schedule
permalink: schedule2
layout: page
---
<div class="container">
  <div class="row">
    <div class="12u 12u(mobile)">
      <!-- <section id="schedule-pdf">
        <header>
          <h1>ICAPS-2022 Schedule (PDF Format)</h1>
        </header>
	The following schedule is available in a <a href="/images//icaps17book.pdf">PDF format</a>.
      </section> -->

      <section id="schedule">
        <header>
          <h1>ICAPS-2022 Schedule Overview</h1>
        </header>

        <div id="overview"></div>
        <!--
          <h3>Sunday (June 18, 2017)</h3>
          <table class="schedule-overview">
          <tr><td>All Day</td><td><a href="/doctoral-consortium">Doctoral Consortium</a></td></tr>
          </table>
        -->







        <table class="schedule-overview" style="min-width: 965px;">
          <thead>
          <tr style="background-color: rgb(42, 47, 51); color: #F2F5F5;">

          <th style="padding: 10px;">
          <!-- Dropdown selection of time zone -->
          <select id="timezone-selector" onchange="updateTimezone()">
          <option value="0">UTC</option>
          <option value="8">Singapore</option>
          <option value="10">Canberra</option>
          <option value="2">Paris</option>
          <option value="20">NYC</option>
          <option value="17">LA</option>
          </select>
          </th>

          <th colspan="2">June 21</th>
          <th colspan="2">June 22</th>
          <th colspan="2">June 23</th>
          <th colspan="2">June 24</th>
          </tr>
          </thead>
          <tr><td id="slot-6">6</td><td style="background-color: #c7f2ff;" colspan="2" rowspan="1">Opening</td></tr>
          <tr><td id="slot-7">7</td><td style="background-color: #e8ffea;" colspan="2" rowspan="1"><a style="color: #900011;" href="/#helmert">Invited Talk: Malte Helmert</a></td><td rowspan="1"><a style="color: #900011;" href="#9a">(9a) Search</a></td><td rowspan="1"><a style="color: #900011;" href="#9b">(9b) Multi-Agent Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#18a">(18a) Classical Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#18b">(18b) Robotics</a></td><td style="background-color: #e8ffea;" colspan="2" rowspan="1"><a style="color: #900011;" href="/#miller">Invited Talk: Tim Miller</a></td></tr>
          <tr><td id="slot-8">8</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Get Together</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Diversity Follow Up</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Games</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Open Discussion</td></tr>
          <tr><td id="slot-9">9</td><td rowspan="1"><a style="color: #900011;" href="#1a">(1a) Planning Representations and Scheduling</a></td><td rowspan="1"><a style="color: #900011;" href="#1b">(1b) Verification</a></td><td rowspan="1"><a style="color: #900011;" href="#10a">(10a) Goal and Plan Recognition</a></td><td rowspan="1"><a style="color: #900011;" href="#10b">(10b) Scheduling Applications</a></td><td rowspan="1"><a style="color: #900011;" href="#19a">(19a) Expressivity and Complexity</a></td><td rowspan="1"><a style="color: #900011;" href="#19b">(19b) Path Finding</a></td><td rowspan="1"><a style="color: #900011;" href="#27a">(27a) Reformulation</a></td><td rowspan="1"><a style="color: #900011;" href="#27b">(27b) Probabilistic Planning</a></td></tr>
          <tr><td id="slot-10">10</td><td rowspan="1"><a style="color: #900011;" href="#2a">(2a) Reinforcement Learning</a></td><td rowspan="1"><a style="color: #900011;" href="#2b">(2b) Heuristics in Classical Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#11a">(11a) Heuristics in Classical and Multi-Objective Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#11b">(11b) Applications</a></td><td rowspan="1"><a style="color: #900011;" href="#20a">(20a) Explainable Planning and Scheduling</a></td><td rowspan="1"><a style="color: #900011;" href="#20b">(20b) Heuristics and Heuristic Search</a></td><td rowspan="1"><a style="color: #900011;" href="#28a">(28a) Model-Based Reasoning in Classical Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#28b">(28b) Temporal Planning</a></td></tr>
          <tr><td id="slot-11">11</td><td style="background-color: #c7f2ff;" colspan="2" rowspan="2">Poster and Demo Session</td><td style="background-color: #fdcdcd;" colspan="2" rowspan="2">Competition Panel</td><td style="background-color: #c7f2ff;" colspan="2" rowspan="2">Poster and Demo Session</td><td style="background-color: #c7f2ff;" colspan="2" rowspan="2">Poster and Demo Session</td></tr>
          <tr><td id="slot-12">12</td></tr>
          <tr><td id="slot-13">13</td><td rowspan="1"><a style="color: #900011;" href="#3a">(3a) Model-Based Reasoning in Classical Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#3b">(3b) Learning in Scheduling Applications</a></td><td rowspan="1"><a style="color: #900011;" href="#12a">(12a) Numeric Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#12b">(12b) Deep Learning</a></td><td style="background-color: #fdcdcd;" colspan="2" rowspan="1">Industry Panel</td><td rowspan="1"><a style="color: #900011;" href="#29a">(29a) Multi-Agent and Tree Search</a></td><td rowspan="1"><a style="color: #900011;" href="#29b">(29b) Motion Planning and Deep RL</a></td></tr>
          <tr><td id="slot-14">14</td><td rowspan="1"><a style="color: #900011;" href="#4a">(4a) Search</a></td><td rowspan="1"><a style="color: #900011;" href="#4b">(4b) Optimal Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#13a">(13a) Epistemic Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#13b">(13b) Heuristics in Classical Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#21a">(21a) Applications</a></td><td rowspan="1"><a style="color: #900011;" href="#21b">(21b) Temporal Planning and Reinforcement Learning</a></td><td style="background-color: #FFF9DB;" colspan="2" rowspan="2">Community Meeting</td></tr>
          <tr><td id="slot-15">15</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Diversity</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Pseudonym Get Together</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Pub Quiz</td><td></td></tr>
          <tr><td id="slot-16">16</td><td rowspan="1"><a style="color: #900011;" href="#5a">(5a) Problem Reformulation</a></td><td rowspan="1"><a style="color: #900011;" href="#5b">(5b) Heuristics and Heuristic Search</a></td><td style="background-color: #e8ffea;" colspan="2" rowspan="1"><a style="color: #900011;" href="/#brunskill">Invited Talk: Emma Brunskill</a></td><td rowspan="1"><a style="color: #900011;" href="#22a">(22a) Reinforcement Learning</a></td><td rowspan="1"><a style="color: #900011;" href="#22b">(22b) Robotics</a></td><td rowspan="1"><a style="color: #900011;" href="#30a">(30a) Scheduling</a></td><td rowspan="1"><a style="color: #900011;" href="#30b">(30b) Heuristics in Classical Planning</a></td></tr>
          <tr><td id="slot-17">17</td><td rowspan="1"><a style="color: #900011;" href="#6a">(6a) Multi-Agent Path Finding</a></td><td rowspan="1"><a style="color: #900011;" href="#6b">(6b) Deep Learning</a></td><td rowspan="1"><a style="color: #900011;" href="#14a">(14a) Search</a></td><td rowspan="1"><a style="color: #900011;" href="#14b">(14b) Verification</a></td><td rowspan="1"><a style="color: #900011;" href="#23a">(23a) Abstraction Heuristics</a></td><td rowspan="1"><a style="color: #900011;" href="#23b">(23b) Reinforcement Learning</a></td><td rowspan="2"><a style="color: #900011;" href="#31a">(31a) User Interfaces for Explainable Planning</a></td><td rowspan="2"><a style="color: #900011;" href="#31b">(31b) Scheduling</a></td></tr>
          <tr><td id="slot-18">18</td><td style="background-color: #c7f2ff;" colspan="2" rowspan="2">Poster and Demo Session</td><td style="background-color: #c7f2ff;" colspan="2" rowspan="2">Poster and Demo Session</td><td style="background-color: #e8ffea;" colspan="2" rowspan="2"><a style="color: #900011;" href="/#srinivasa">Invited Talk: Sidd Srinivasa</a></td><td></td></tr>
          <tr><td id="slot-19">19</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Closing and Final Get Together</td></tr>
          <tr><td id="slot-20">20</td><td rowspan="1"><a style="color: #900011;" href="#7a">(7a) Probabilistic Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#7b">(7b) Multi-Agent Planning and Scheduling</a></td><td rowspan="1"><a style="color: #900011;" href="#15a">(15a) Planning Decompositions and Learning</a></td><td rowspan="1"><a style="color: #900011;" href="#15b">(15b) Explainable Planning and Scheduling</a></td><td rowspan="1"><a style="color: #900011;" href="#24a">(24a) Reinforcement Learning in Applications</a></td><td rowspan="1"><a style="color: #900011;" href="#24b">(24b) User Interactions and Top-Quality Planning</a></td></tr>
          <tr><td id="slot-21">21</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Speed Dating</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Pseudonym Get Together</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Open Discussion</td></tr>
          <tr><td id="slot-22">22</td><td rowspan="1"><a style="color: #900011;" href="#8a">(8a) Hierarchical Task Networks</a></td><td rowspan="1"><a style="color: #900011;" href="#8b">(8b) Rewards in Reinforcement Learning</a></td><td rowspan="1"><a style="color: #900011;" href="#16a">(16a) Multi-Agent Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#16b">(16b) Reinforcement Learning</a></td><td rowspan="1"><a style="color: #900011;" href="#25a">(25a) Heuristic Search</a></td><td rowspan="1"><a style="color: #900011;" href="#25b">(25b) Epistemic Planning</a></td></tr>
          <tr><td id="slot-23">23</td><td style="background-color: #e8ffea;" colspan="2" rowspan="1"><a style="color: #900011;" href="/#koenig">Invited Talk: Sven Koenig</a></td><td rowspan="1"><a style="color: #900011;" href="#17a">(17a) Applications</a></td><td rowspan="1"><a style="color: #900011;" href="#17b">(17b) Path and Motion Planning</a></td><td rowspan="1"><a style="color: #900011;" href="#26a">(26a) Heuristics</a></td><td rowspan="1"><a style="color: #900011;" href="#26b">(26b) Scheduling</a></td></tr>
          <tr><td id="slot-24">24</td><td style="background-color: #FFF9DB;" colspan="2" rowspan="1">Social: Games</td><td style="background-color: #c7f2ff;" colspan="2" rowspan="2">Poster and Demo Session</td><td style="background-color: #c7f2ff;" colspan="2" rowspan="2">Poster and Demo Session</td></tr>
          </table>







        <br/>
        <div id="detailed"></div>

        <h1>Detailed Schedule</h1>
        {% assign day = 0 %}
        {% assign started = false %}
        {% for row in site.data.icaps_schedule_details %}
        {% if row.Day != day %}
          {% assign day = row.Day %}
          {% if started %}</table>{% endif %}
          {% assign started = true %}
          <h3 class="schedule-date" id="{{row.Weekday | slugify}}">{{row.Weekday}}</h3>
          <table class="schedule">
        {% endif %}
        {% if row.Type == "Joint" %}
          {% if row.Session1 contains 'Opening' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="opening-remarks">{{row.Session1}}</td></tr>
          {% elsif row.Session1 contains 'Invited Talk' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="invited-talk"><a href="/#{{row.Session2}}">{{row.Session1}}</a></td></tr>
          {% elsif row.Session1 contains 'Social' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="misc">{{row.Session1}}</td></tr>
          {% elsif row.Session1 contains 'Diversity' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="misc">{{row.Session1}}</td></tr>
          {% elsif row.Session1 contains 'Panel' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="invited-talk">{{row.Session1}}</td></tr>
          {% elsif row.Session1 contains 'Poster' %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="posters">{{row.Session1}}</td></tr>
          {% else %}
          <tr><td class="time">{{row.Time}}:00 UTC</td><td class="misc">{{row.Session1}}</td></tr>
          {% endif %}
        {% elsif row.Type == "Single" %}
        <tr>
            <td class="time">{{row.Time}}:00 UTC</td>
            <td id="{{row.Session1 | slugify}}" class="session-title session-talk1">({{row.Session1}}) {{row.Session1_title}}</td>
            <td id="{{row.Session2 | slugify}}" class="session-title session-talk2">({{row.Session2}}) {{row.Session2_title}}</td>
          </tr>
          {% assign session11 = (site.data.paper_details | where:"Session1",row.Session1) %}
          {% assign session12 = (site.data.paper_details | where:"Session2",row.Session1) %}
          {% assign session21 = (site.data.paper_details | where:"Session1",row.Session2) %}
          {% assign session22 = (site.data.paper_details | where:"Session2",row.Session2) %}
          {% assign session1 = session11 | concat:session12 %}
          {% assign session2 = session21 | concat:session22 %}
          {% for index in (0..10) %}
          {% assign paper1 = session1[index] %}
          {% assign paper2 = session2[index] %}
          {% if paper1 == nil and paper2 == nil %}
          {% break %}
          {% endif %}
          <tr>
              <td class="notime"></td>
              <td class="session-talk1">
                  {% if paper1 != nil %}
                  <span class="paper-title">{{paper1.Title}}
                      (<span class="paper-type">{{paper1.Track}}</span>)</span><br/>
                  <span class="paper-author">{{paper1.Authors}}</span>
                  {% endif %}
              </td>
              <td class="session-talk2">
                  {% if paper2 != nil %}
                  <span class="paper-title">{{paper2.Title}}
                      (<span class="paper-type">{{paper2.Track}}</span>)</span><br/>
                  <span class="paper-author">{{paper2.Authors}}</span>
                  {% endif %}
              </td>
          </tr>
          {% endfor %}
        {% endif %}
        {% endfor %}
        </table>


      </section>

    </div>
  </div>
</div>


<script>
function updateTimezone() {
  var timezone = parseInt($('#timezone-selector').val());
  for (let i = 6; i <= 24; i++) {
    var time = (i + timezone) % 24;
    $('#slot-' + i).text(time);
  }
}
</script>
